<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel1">Delete Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <div id="delete_form"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="select_category">Category</label>
                        <select  id="select_category"></select>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" name="productName" placeholder="Nhập tên sản phẩm"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input class="form-control" id="price" name="productPrice" placeholder="Nhập giá sản phẩm"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input class="form-control" id="quantity" name="productQuantity"
                               placeholder="Nhập số lượng sản phẩm" type="text">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control" id="description" name="productDescription"
                               placeholder="Nhập mô tả sản phẩm" type="text">
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input class="form-control" id="image"  type="file">
                    </div>
                    <div class="modal-footer">
                        <div id="create_edit"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel2">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="select_category">Category</label>
                        <select  id="select_category2"></select>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name2" name="productName" placeholder="Nhập tên sản phẩm"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input class="form-control" id="price2" name="productPrice" placeholder="Nhập giá sản phẩm"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input class="form-control" id="quantity2" name="productQuantity"
                               placeholder="Nhập số lượng sản phẩm" type="text">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control" id="description2" name="productDescription"
                               placeholder="Nhập mô tả sản phẩm" type="text">
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <div id="img"></div>
                        <input class="form-control" id="image2" type="file">
                    </div>
                    <div class="modal-footer">
                        <div id="create_edit2"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" onclick="showAll(0)">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="showCreateForm()">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Category</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" id="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="button" onclick="findProductByName(0)">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col" colspan="2"></th>
        </tr>
        </thead>
        <tbody id="showList">

        </tbody>
    </table>
</div>
<script>
    function showAll() {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/products",
            success: function (products) {
                let content = "";
                for (let i = 0; i < array.length; i++) {
                    content += `<tr>
            <th scope="col">${products[i].id}</th>
            <th scope="col">${products[i].name}</th>
            <th scope="col">${products[i].price}</th>
            <th scope="col">${products[i].quantity}</th>
            <th scope="col">${products.description}</th>
            <th scope="col"><img src="http://localhost:8080/image/${products[i].image}" width="100" height="100"></th>
        </tr>`
                }
                $("#showList").html(content);
            }
        })
    }
    showAll();
</script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>